/* History CSS Styling
 *
 * Author: Mario Lopez
 *
 */

.userName {
    width: 90px;
}

.status {
    width: 200px;
}

.ip {
    width: 90px;
}

.time {
    width: 170px;
}

.page-header-history {
    text-align: center;
    margin-top: 0px;
}
