/* Site Theme CSS Styling
 *
 * Author: Mario Lopez
 *
 */
.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}
.album {
    padding-top: 1rem;
    padding-bottom: 0;
    background-color: #f7f7f7;
}
.album .row {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}
.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 1rem;
    border: 0;
    /*max-height: 305px;*/
    border-radius: 0;
}
.card > a > img:first-child {
    margin-bottom: .75rem;
    height: 280px;
    width: 100%;
    display: block;
}
.small-img-row > img {
    margin-right: 0.2rem;
    opacity: 0.3;
    height: 48px;
    width: 18%;
}
.small-img-row > img:first-child {
    margin-left: 0;
}
.small-img-row > img:last-child {
    margin-right: 0;
}
.small-img-row > img.active {
    opacity: 1;
}
.small-img-row > img:hover {
    opacity: 1;
}
.house-info-container {
    background: rgba(0, 0, 0, 0.3);
    height: 57px;
    width: 354px;
    top: 235px;
    position: absolute;
}
.house-price,
.house-address,
.house-info {
    font-size: 1rem;
    position: absolute;
    color: #fff;
}
.house-price {
    top: -5px;
    left: 5px;
    font-size: 1.8rem;
}
.house-address {
    top: 33px;
    left: 5px;
}
.house-info {
    top: 5px;
    left: 135px;
}
.popover-card {
    width: 33.333%;
    max-width: 354px;
}
.fa-small {
    font-size: 0.5rem;
}
.to-top {
  background-color: #004F25;
  border-radius: 4px 4px 0 0;
  color: #FFFFFF;
  width: 3.6rem;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
  transition: all 0.2s ease-in-out 0s;
  top: 3rem;
  position: relative;
}
.to-top:hover {
  background-color: #0FBE7C;
}
.footer {
    margin-top: 3rem;
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
