/* Site Theme CSS Styling
 *
 * Author: Mario Lopez
 *
 */
.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}
.album {
    min-height: 50rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #f7f7f7;
}
.album .row {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}
.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 1rem;
    border: 0;
}
.card > img {
    margin-bottom: .75rem;
}
.to-top {
  background-color: #004F25;
  border-radius: 4px 4px 0 0;
  color: #FFFFFF;
  width: 3.6rem;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
  transition: all 0.2s ease-in-out 0s;
  top: 3rem;
  position: relative;
}
.to-top:hover {
  background-color: #0FBE7C;
}
.footer {
    margin-top: 3rem;
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
